{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}




   <!-- Navbar -->
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrappers">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Admin</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Admin</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Admin Dashboard</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

              <br /><br>
              <div class="row container center">

                  <div class="col-md-12 col-lg-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Responsive Hover Table</h3>

                        <div class="card-tools">
                          <div class="input-group input-group-sm">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                              <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      {% if investments %}
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>User</th>
                              <th>Date</th>
                              <th>Status</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            
                              {% for item in investments %}
                                <tr>
                                  <td>{{ item.id }}</td>
                                  <td>{{ item.app_user.full_name }}</td>
                                  <td>{{ item.pub_date }}</td>
                                  <td>
                                    {% if item.who_app_user_id == "none" %}
                                      Not Peered
                                    {% else %}
                                      Peered
                                    {% endif %}
                                  </td>
                                  <td>
                                    <a class="btn btn-default" href="{% url 'dashboard:a_investment_detail' item.id %}">
                                      Peer
                                    </a>
                                  </td>
                                </tr>
                              {% endfor %}
                            
                            
                          </tbody>
                        </table>
                      </div>
                      {% else %}

                      <div class="row container">
                        
                        <br /><br /><br />
                        <h2 class="container">Sorry, No Investments Yet!</h2>
                        <br /><br /><br />

                      </div>                

                      {% endif %}
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

              
            </div>
            <!-- /.card -->

                    
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <br /><br /> <br /><br /> <br /><br />
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>


</div>
<!-- ./wrapper -->



{% endblock %}