{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}


   <!-- Navbar -->
  {% include 'dashboard/nav.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'dashboard/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>My Investments</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">My Investment</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Commit New Investment</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div class="col-md-12 mt-2">

                  <!-- Profile Image -->
            <div class="card card-yellow card-outline">
              <div class="card-body box-profile" style="background-color: #0e1326">
                <div class="text-center">
                   <h1 style="text-align: center; color: #f39c12;">Congratulations!</h1>
                   <p style="text-align: center">You have been peered to receive payment from: <b style="color: #f39c12;"> {{ investment.app_user.full_name }}</b></p>
                </div>

                <h3 style="color: #0e1326" class="profile-username text-center">{{ app_user.full_name }}</h3>

                <p style="background-color: #0e1326" class="text-muted text-center">{{ app_user.public_key }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Amount you'll recieve:</b> <a class="float-right">{{ investment.amount }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Phone Number</b> <a class="float-right">{{ investment.app_user.phone_no }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Language: </b> <a class="float-right">{{ investment.app_user.language }}</a>
                  </li>

                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Payment Status: </b> <a class="float-right">{{ investment.paid_status }}</a>
                  </li>

                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Due Date: </b> <a class="float-right">{{ investment.due_date }}</a>
                  </li>
                </ul>

                <h5 style="text-align: center;">{% include 'main/timer.html' %}</h5>

                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                
                  <h5 style="text-align: center;">View/Download proof of payments.</h5>
                
                <div class="row">
                    <a class="btn btn-primary btn-block" href="{{ investment.proof_photo1.url }}">View/Download Proof of payment Image 1</a>
 
                    <a class="btn btn-primary btn-block" href="{{ investment.proof_photo2.url }}">View/Download Proof of payment Image 2</a>
                </div>

                <br /><br />
                <select class="form-control" name="payment_status">
                    <option value="on" selected="selected">YES, I HAVE RECEIVED PAYMENT.</option>
                    <option value="off">NO, I HAVEN'T RECEIVED ANY PAYMENT.</option>
                </select>

                  

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                </div>
              </form>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

              
                  

                

               

            </div>
            <!-- /.card -->

                    
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #2d3653">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->



{% endblock %}